<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">

        {% include tag-cloud.html %}

        <div class="footer-col-wrapper">
            <div class="footer-col">
                <h3>Thank you for reading!</h3>
                <p>© Vladas Maier, 2023 - present</p>
            </div>
        </div>

        <a href="https://www.linkedin.com/comm/mynetwork/discovery-see-all?usecase=PEOPLE_FOLLOWS&followMember=vladas-maier">
            <img class="social-badge"
                 src="https://img.shields.io/badge/LinkedIn-0A66C2.svg?style=for-the-badge&logo=LinkedIn&logoColor=white"
                 alt="LinkedIn Badge">
        </a>
        <a href="https://github.com/vlmaier">
            <img class="social-badge"
                 src="https://img.shields.io/badge/GitHub-181717.svg?style=for-the-badge&logo=GitHub&logoColor=white"
                 alt="GitHub Badge">
        </a>
        <a href="https://linktr.ee/vlmaier">
            <img class="social-badge"
                 src="https://img.shields.io/badge/linktree-43E55E.svg?style=for-the-badge&logo=Linktree&logoColor=white"
                 alt="Linktree Badge">
        </a>
        <a href="/feed.xml">
            <img class="social-badge"
                 src="https://img.shields.io/badge/rss-FFA500.svg?style=for-the-badge&logo=RSS&logoColor=white"
                 alt="RSS Badge">
        </a>

    </div>

</footer>