---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.tech-stack {
    margin: 0;
    float: right;
    min-width: 25%;
}

.tech-stack p {
    margin: 0;
}

.tech-stack p img {
    float: right;
}

.tech-stack-footer {
    clear: both;
}