---
---

@import "minima";

.p-name {
    display: none;
}
.post-header {
    display: none;
}
.profile-photo {
    margin: 0px 20px 10px 0px;
    float: left;
    width: 250px;
    height: auto;
}
.site-title::before {
    content: "";
    background: url(images/logo.svg);
    background-size: cover;
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    top: 8px;
    right: 6px;
}
.tech-stack {
    margin: 0;
    float: right;
    min-width: 25%;
}
.tech-stack p {
    margin: 0;
}
.tech-stack p img {
    float: right;
}
.tech-stack-footer {
    clear: both;
}

@media only screen and (max-width: 600px) {
    .tech-stack {
        margin: 0;
        float: right;
        min-width: 25%;
        width: 46%;
    }
    .profile-photo {
        margin: 0px 20px 10px 0px;
        float: left;
        width: 150px;
        height: auto;
    }
}